In [1]:
import pandas as pd

In [29]:
csv1 = pd.read_csv('output.csv')

In [30]:
csv2 = pd.read_csv('output (1).csv')

In [31]:
en = csv1.merge(csv2, on='customer_id')

In [32]:
en

      customer_id  probability_x  probability_y
0           12346       0.068813       0.164782
1           12347       0.243401       0.171005
2           12348       0.146345       0.132219
3           12349       0.197283       0.393062
4           12350       0.064037       0.030177
...           ...            ...            ...
5909        18283       0.563472       0.642373
5910        18284       0.058794       0.071506
5911        18285       0.032699       0.044079
5912        18286       0.054138       0.041847
5913        18287       0.159722       0.145268

[5914 rows x 3 columns]

In [35]:
col = en.loc[:, 'probability_x':'probability_y']

en['probability'] = col.mean(axis=1)

In [36]:
en

      customer_id  probability_x  probability_y  probability
0           12346       0.068813       0.164782     0.116797
1           12347       0.243401       0.171005     0.207203
2           12348       0.146345       0.132219     0.139282
3           12349       0.197283       0.393062     0.295173
4           12350       0.064037       0.030177     0.047107
...           ...            ...            ...          ...
5909        18283       0.563472       0.642373     0.602923
5910        18284       0.058794       0.071506     0.065150
5911        18285       0.032699       0.044079     0.038389
5912        18286       0.054138       0.041847     0.047993
5913        18287       0.159722       0.145268     0.152495

[5914 rows x 4 columns]

In [37]:
del en['probability_x']

In [39]:
del en['probability_y']

In [40]:
en

      customer_id  probability
0           12346     0.116797
1           12347     0.207203
2           12348     0.139282
3           12349     0.295173
4           12350     0.047107
...           ...          ...
5909        18283     0.602923
5910        18284     0.065150
5911        18285     0.038389
5912        18286     0.047993
5913        18287     0.152495

[5914 rows x 2 columns]

In [45]:
en.to_csv('./ensemble.csv', index=False)